{% extends "app/base.html" %}
{% block content %}

<div  style="background-color: rgb(250, 242, 234);">
<div class="container d-flex justify-content-left">
    <div style="height: 400px; width: 300px;">
        <img src="{{ post.image.url }}" class="mt-4" alt="" style="width: 100%; height: 100%;"> 
    </div>
    <div class="container " style="height: auto; width: 700px; position: relative;">
        <div class="title mt-4" style="height: auto;">
            <h2 class="article-title">{{ object.title }}</h2>
        </div>
        <div class="body mt-4" style="height: auto; ">
            <small class="article-content">{{ object.about }}</small>
        </div>
        <div class="content mt-4" style="height: auto; word-wrap: break-word">
            <p class="article-content"><b>Опис: </b>{{ object.content }}</p>
        </div>
        <div class="body mt-4" style="height: auto;">
            <p class="article-content"><b>Режија: </b>{{ object.director }}</p>
            <p class="article-content"><b>Глумци: </b>{{ object.cast }}</p>
        </div>
        <p><b>Цена на билет: {{ object.price }} ден.</b></p>
        <!-- <div class="body mt-4 d-flex justify-content-between" style="height: auto;">
           <small class="btn btn-danger mr-1"><b>{{ object.date1|date:"l, d M. H:i" }}</b></small>          
           <small class="btn btn-danger mr-1"><b>{{ object.date2|date:"l, d M. H:i" }}</b></small>          
           <small class="btn btn-danger mr-1"><b>{{ object.date3|date:"l, d M. H:i" }}</b></small>          
           <small class="btn btn-danger mr-1"><b>{{ object.date4|date:"l, d M. H:i" }}</b></small>          
           <small class="btn btn-danger mr-1"><b>{{ object.date5|date:"l, d M. H:i" }}</b></small>          
        </div> -->
            <form action="{% url 'booking-site' object.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Филм: {{ object.title }}" value="{{ object.title }}" hidden> 
                    <input class="form-control" type="text" name="price" placeholder="Цена на билет: {{ object.price }} денари" value="{{ object.price }}" hidden> 
                    <input class="form-control" type="text" name="" placeholder="Cinemax - Сала 1" hidden> 
                </div>    
                <div class="form-group">
                    <!-- <label for="dates">Резервирај датум!</label> -->
                    <!-- <select class="form-control" name="date" id="dates">
                        <option value='{{ object.date1|date:"l, d M. H:i" }}'>{{ object.date1|date:"l, d M. H:i" }}</option>
                        <option value='{{ object.date2|date:"l, d M. H:i" }}'>{{ object.date2|date:"l, d M. H:i" }}</option>
                        <option value='{{ object.date3|date:"l, d M. H:i" }}'>{{ object.date3|date:"l, d M. H:i" }}</option>
                        <option value='{{ object.date4|date:"l, d M. H:i" }}'>{{ object.date4|date:"l, d M. H:i" }}</option>
                        <option value='{{ object.date5|date:"l, d M. H:i" }}'>{{ object.date5|date:"l, d M. H:i" }}</option>
                    </select> -->
                </div>
                <!-- <input type="submit" class="btn btn-primary" value="Резервирај">             -->
                <div>
                    <input type="submit" name="date"  class="btn btn-danger m-1" value='{{ object.date1|date:"l, d M. H:i" }}'>          
                    <input type="submit" name="date" class="btn btn-danger m-1" value='{{ object.date2|date:"l, d M. H:i" }}'>           
                    <input type="submit" name="date" class="btn btn-danger m-1" value='{{ object.date3|date:"l, d M. H:i" }}'> <br>           
                    <input type="submit" name="date" class="btn btn-danger m-1" value='{{ object.date4|date:"l, d M. H:i" }}'>           
                    <input type="submit" name="date" class="btn btn-danger m-1" value='{{ object.date5|date:"l, d M. H:i" }}'>   
                </div>        
            </form>
        <!-- <div style="position: absolute; bottom: 30px; left: 40%; ">   
            <a href="{% url 'booking-site' object.id %}" class="btn btn-success">Резервирај!</a>
        </div> -->
        <!-- <div>
            <div style="position: absolute; bottom: 0px; right: 15px;">
                <a href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
            </div>
            {% if object.author == user %}
            <div style="position: absolute; bottom: 0px; right: 15px;">
                <a href="{% url 'post-update' object.id %}" class=" btn-primary" style="padding: 0 5px; text-decoration: none;">Update</a>
                <a href="{% url 'post-delete' object.id %}" class=" btn-danger"style="padding: 0 5px; text-decoration: none;">Delete</a>
            </div>
            {% endif %}
        </div> -->
    </div>
    
</div>  
</div>


<!-- {% if object.author == user %}
        <div>
            <a href="{% url 'post-update' object.id %}">Update</a>
            <a href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
        {% endif %} -->
{% endblock content %}



